# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Django
db.sqlite3
staticfiles/
media/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
